.img-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 120px;
  
}

.poke-log-img{
  width: 150px;
  height: 80px;
  
}
.poke-btn{
  padding: 15px;
  cursor: pointer;
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-size: 20px;
  width: 180px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: -apple-system- ;
  transition: 0.75s;
}
.poke-container{
  overflow-y:auto;
  max-height: 450px;
  max-width: 1500px;
  padding: 20px;
  border-radius: 20px;
}
.poke-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  max-height: 90%;
  margin: 15px;
  
}
.poke-data{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 250px;
  height: 100px;
  transition: 0.75s;
}

.poke-list :hover{
  transform: scale(1.1);
}
.btn{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 10px;
  
}
.poke-btn:hover{
  color: black;
  transform: scale(1.1);
}
.poke-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  

.poke-data h3{
  text-transform: capitalize;
  color: black;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
.poke-img{
  display: flex;
  justify-content: flex-end
  
}
